.main{
    background-color:black;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    }
    .H{
        width: 15.7px;
        height: 16.9px;
        margin-top: 1.65px;
        }
        .a{
        width: 11.23px;
        height: 12.98px;
        margin-top: 5.85px;
        margin-left: -1px;
        }
        .b{
            width: 12.67px;
            height: 18.17px;
        margin-top:0.67px; 
        margin-left: -1px;   
        }
        .r{
            width: 12.36px;
            height: 17.06px;
            margin-top:5.85px;     
            margin-left: -1px;   
        }
    .title{
        font-weight: 700;
        background-color: #303B44;
        padding-left: 147px;
        height: 45px;
        padding-top: 10px;
    }
    section{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
    input{
    height: 40px; 
    width: 390px;
    background-color: #171717;
    border: 2px solid white;
    border-radius: 14px;
    margin: 25px 15px;
    color: #fff;
    }
    .Registration{
    display: block;
    background-color: #171717;
    width: 460px;
    height: 365px;
    margin-top: 150px;
    margin-bottom: 20px;
    justify-content: center
    
    }
    .footer{
        background-color: #171717;
        width: 460px;
        height: 48px;
        text-align: center;
        padding-top: 12px;
    }
    
    .button{
        background-color: #558CB7;
        height: 48px;
        width: 380px;

    margin-inline: 34px;
    }
    a{
        color:#fff;
    }
    .reset{
        height: 48px;
        width: 380px;
    }
    .buttons{
        display: flex;
        flex-direction: row;
        padding: 0 10px;
    
    }
    .Name{
        margin-left: 195px;
        margin-bottom: 25px;
        margin-top: 25px;
        font-size: 22px;
    }
    label{
        margin-left: 13px;

    }
    .Hover:hover{
        color: #558CB7;
        font-weight: 450;
        text-decoration: underline  2px;
    }